
#dashboard {
    width: 100%;
    height: 100dvh;
    padding: 10px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
}

#dashboard h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dashboard h1 a {
    font-size: medium;
    transition: all 0.5s linear;
}

#dashboard h1 a:hover {
    color: rgb(75, 166, 236);
}

#expenseDiv {
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}