header {
    padding: 10px;
}

/* nav section styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
}

#logo h1 {
    font-size: 20px;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation a {
    width: auto;
    height: auto;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
    transition: all 0.5s linear;
}

#navigation a:hover {
    cursor: pointer;
    background-color: rgb(0, 198, 198);
}